@page "/"
@using UserVoice.RCL.Service.Interfaces;


<PageTitle>Index</PageTitle>

<div class="container">    
    <ReleaseNotesCompactList CurrentUser="@user" ItemLinkTemplate="ItemLink" ViewAllLink="/Changelog"/>

    <ItemList @ref="list" CurrentUser="@user">
        <ItemForm CurrentUser="@user" ItemSaved="OnItemSaved" ShowCurrentUser="true" />
    </ItemList>
</div>

@code {
    Database.User user = new();
    ItemList? list;

    protected override void OnInitialized()
    {     
        
        user = new Database.User()
        {
            Name = "adamo",
            Email = "adamosoftware@gmail.com",
            TimeZoneId = "Eastern Daylight Time",
            Role = Database.Role.ProductOwner | Database.Role.SignOffUser,
            Id = 2
        };
        
        /*
        user = new Database.User()
        {
            Name = "someone",
            Email = "someone@nowhere.org",
            TimeZoneId = "Eastern Daylight Time",
            Role = Database.Role.ProductOwner | Database.Role.SignOffUser,
            Id = 1002
        };
        */
    }

    async Task OnItemSaved(Database.Item item)
    {
        await list.Refresh();
    }

    string ItemLink(Database.Item item) => $"/Changelog/{item.Id}";
}