@page "/"

<PageTitle>Index</PageTitle>

<div class="container">    
    <ReleaseNotesList CurrentUser="@user" ItemLinkTemplate="ItemLink" ViewAllLink="/Changelog"/>

    <ItemList @ref="list" CurrentUser="@user">
        <ItemForm CurrentUser="@user" ItemSaved="OnItemSaved" />
    </ItemList>
</div>

@code {
    Database.User user = new();
    ItemList? list;

    protected override void OnInitialized()
    {
        user = new Database.User()
        {
            Name = "adamo",
            Email = "adamosoftware@gmail.com",
            TimeZoneId = "Eastern Daylight Time",
            Role = Database.Role.ProductOwner,
            Id = 2
        };
    }

    async Task OnItemSaved(Database.Item item)
    {
        await list.Refresh();
    }

    string ItemLink(Database.Item item) => $"/Changelog/{item.Id}";
}