@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <ItemList @ref="list"/>
    <ItemForm CurrentUser="@user" ItemSaved="OnItemSaved" />
</div>

@code {
    Database.User user = new();
    ItemList? list;

    protected override void OnInitialized()
    {
        user = new Database.User()
        {
            Name = "adamo",
            Email = "adamosoftware@gmail.com",
            TimeZoneId = "Eastern Standard Time"
        };
    }

    async Task OnItemSaved(Database.Item item)
    {
        await list.Refresh();
    }
}