@page "/"
@page "/{ItemId:int}"
@using UserVoice.RCL.Service.Interfaces;
@inject IIssueImporter IssueImporter

<PageTitle>Index</PageTitle>

<div class="container">    
    <ReleaseNotesCompactList CurrentUser="@user" ItemLinkTemplate="ItemLink" ViewAllLink="/Changelog"/>

    <RadzenButton Text="Import Issues" Icon="sync" Click="ImportIssues" />

    <ItemList @ref="list" CurrentUser="@user" ItemId="@ItemId">
        <ItemForm CurrentUser="@user" ItemSaved="OnItemSaved" ShowCurrentUser="true" />
    </ItemList>    
</div>

@code {
    Database.User user = new();
    ItemList? list;

    [Parameter]
    public int? ItemId { get; set; }

    protected override void OnInitialized()
    {     
        user = new Database.User()
        {
            Name = "adamo",
            Email = "adamosoftware@gmail.com",
            TimeZoneId = "Eastern Daylight Time",            
            SendReleaseNotes = true,
            Role = Database.Role.ProductOwner | Database.Role.SignOffUser,
            Id = 2
        };

        /*
        user = new Database.User()
        {
            Name = "someone",
            Email = "someone@nowhere.org",
            TimeZoneId = "Eastern Daylight Time",
            Role = Database.Role.ProductOwner | Database.Role.SignOffUser,
        Id = 1002
        };
        */
    }

    async Task OnItemSaved(Database.Item item)
    {
        await list.Refresh();
    }

    string ItemLink(Database.Item item) => $"/Changelog/{item.Id}";

    async Task ImportIssues()
    {
        await IssueImporter.MergeItemsAsync();
        await list.Refresh();
        StateHasChanged();
    }
}