@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <ItemForm CurrentUser="@user" />
</div>

@code {
    Database.User user = new();

    protected override void OnInitialized()
    {
        user = new Database.User()
        {
            Name = "adamo",
            Email = "adamosoftware@gmail.com"
        };
    }
}